:host{
  .header{
    width: 100%;
    padding: 15px 40px;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--white);
    border-bottom: 3px solid var(--primary);

    h3{
      margin: 0;

      opacity: 89%;
      font-size: 20px;
      font-weight: bold;
    }

    img{
      width: 150px;
    }
  }
}
