:root{
  --primary: #fbbb00;
  --primary-10: #fbab00;

  --red: #ff4636;
  --red-10: #ee3524;

  --green: #36FF46;
  --green-10: #2ACD32;

  --white: #fff;

  --black: #212121;
  --black-10: #353535;

  --grey: #f2f2f2;
}
